@import "tailwindcss";

@font-face {
  font-family: "Satoshi-Regular";
  src: url("/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi-Light";
  src: url("/fonts/Satoshi-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-primary-regular: "Satoshi-Regular", sans-serif;
  --font-primary-light: "Satoshi-Light", sans-serif;

  --color-light: #ffffff;
}

@layer components {
  .font-body {
    @apply font-primary-regular text-base/6;
  }
  .font-xs {
    @apply font-primary-regular text-xs/4;
  }
  .font-lg {
    @apply font-primary-regular text-2xl/8;
  }
  .font-xl {
    @apply font-primary-regular text-[4rem]/16;
  }
}
